{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 100,
  "semi": false,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "avoid"
}
