@import 'tailwindcss';
@plugin 'daisyui' {
  themes: dark;
}

[data-theme='dark'] {
  --color-primary: #014e70;
  --color-primary-content: #ffffff;
}

input,
textarea,
select,
button {
  outline: none !important;
}